:root {
    --main-text-color: #aaa1a1;
}

body {
    background: #18181b;
    color: var(--main-text-color);
    margin: 25px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27272a;
    width: 610px;
    padding: 12px 40px;
    border-radius: 100px;
    border: 1px solid #a1a1aa2c;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu__item {
    display: flex;
    gap: 8px;
}

/* Efeito ao passar o mouse no texto */
.menu__item:hover {
    color: white;
}

.menu__icon {
    width: 20px;
    height: 20px;
}

.bio {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.bio__description {
    display: flex;
    flex-direction: column;
}

.bio__profile_picture {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.bio__description__title {
    color: white;
}

.bio__description__goal {
    font-size: 18px;
}

.main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}